.doc {
    height: auto;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(199,199,199,1);
    -moz-box-shadow: 2px 2px 1px 0px rgba(199,199,199,1);
    box-shadow: 2px 2px 1px 0px rgba(199,199,199,1);
}

.doc h1 {
    margin: 30px;
}

.doc p {
    margin-left: 55px;
    margin-top: 40px;
    margin-right: 55px;
}

.doc h2 {
    margin: 40px;
}

.doc .row {
    margin-right: 10px;
}
