body {
    background-color: #ececed !important;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #dcdcdd;
}

.container .text-muted {
    margin: 20px 0;
}

.container .ghbtn {
    margin: 20px 0;
}

.footer .ul .li {
    margin-right: 10px;
}

.upper-section {
    margin-top: 20px;
}

.lower-section {

}

.skip-section {
    margin-right: 15px;
    margin-top: 10px;
}

.progress-wrapper {
    margin-left: 5px;
}

.progress {
    background: #449d44
}

.progress-bar {
    background: #d9534f;
}

.video-section {
    margin-bottom: 20px;
}

.chat-section {
    height: auto;
}

.clicked-keep {
    background-color: green;
}

.clicked-skip {
    background-color: red;
}

.panel {
    border-radius: 0px !important;
    display: block !important;
}

.chat-panel {
    height: auto;
}

#skip-button {
    width: 100%;
}

/* NAVBAR */
.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}
/* END NAVBAR */

/* BUTTON STUFF */
.btn {
    padding: 14px 24px;
    /*border: 0 none;*/
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
