{% include "header.html" %}


            <div class="container main-wrapper">
                <div class="panel upper-panel">
                    <div class="row upper-section">
                        <div class="col-md-9 progress-section">
                            <div class="progress-wrapper">
                                <div class="row progress-info-wrapper">
                                    <p class="col-xs-6 col-md-6 lead">Skip Progress</p>
                                    <p class="col-xs-6 col-md-6 lead text-right"><span id="viewersCount" class="label label-success">0</span> <span id="viewersLabel">people</span> in class right now</p>

                                </div>
                                <div class="progress">
                                  <div class="progress-bar custom-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    <span class="sr-only">0% Complete</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="skip-section">
                                <button id="skip-button" class="btn skip-btn btn-default btn-lg sharp"><span class="skip-btn-inner">Skip <span class="glyphicon glyphicon-chevron-right skip-arrow" aria-hidden="true"></span></span></button>
                                <h1 class="text-center" id="skipped" style="display: none; margin-bottom: 15px;"><small>Skipped!</small></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row lower-section">
                    <div class="col-md-9 video-section">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div id="player" class="embed-responsive-item"></div>
                        </div>
                    </div>
                    <div class="col-md-3 chat-section">
                        <div class="panel chat-panel">
                            <h2 class="text-center chat-title"><small>Chat</small></h2><hr>
                            <div id="conversation-container" class="chat-container">
                                <div id="chat" class="panel-collapse collapse in">
                                    <div>
                                    <div id="chat-feed" class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">

                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div id="input-container">
                                <!-- <div class="input-group"> -->
                                   <input type="text" class="form-control" id="msgInput" placeholder="Send a message">
                                   <!-- <span class="input-group-btn">
                                        <button class="btn btn-default submit-btn" id="submitMsg" type="button">Go!</button>
                                   </span> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% include "footer.html" %}
