<!doctype html>
<html lang="en">
    <head>
        <title>pg2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/static/js/stats.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="icon" type="image/png" href="/static/assets/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/static/assets/favicon-16x16.png" sizes="16x16" />
        <script type="text/javascript" src="http://tablesorter.com/__jquery.tablesorter.min.js"></script>
    </head>
    <body>
        <div class="container-fullwidth">
            <nav class="navbar navbar-default">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">
                      <img src="/static/assets/pg2-logo.png" alt="Brand" width="50px" height="50px" style="padding: 0;">
                  </a>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <li><a href="/stats">Statistics</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
              </div><!-- /.navbar-collapse -->
            </nav>
        </div><!-- /.container-fluid -->

            <div class="container">

                <!-- Modal -->
                <div id="myModal" class="modal modal-wide fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Watch Video</h4>
                      </div>
                      <div class="modal-body">
                          <div class="video-section">
                              <div class="embed-responsive embed-responsive-16by9">
                                  <div id="player" class="embed-responsive-item"></div>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

                <h1 class="text-center">Statistics</h1>
                <p class="text-center lead">Click labels to sort by desc/asc. Click a row to watch that video.</p>
                <table id="bestTable" class="table table-striped table-hover">
                 <thead>
                  <tr style="cursor: pointer; cursor: hand;">
                    <th id="Rank">Score</th>
                    <th id="Title">Video</th>
                    <th id="Viewers">Viewers</th>
                    <th id="Skips">Skips</th>
                    <th id="PercentagePlayed">% Played</th>
                    <th id="TimePlayed">Time Played</th>
                    <th id="Length">Length</th>
                    <th id="LastPlayed">Last Played</th>
                  </tr>
                </thead>
                </table>

            </div>
            <footer class="stats-footer">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><p class="text-muted"><a href="https://github.com/JLHasson/YouVote">Made with <i class="fa fa-heart"></i> for HackGT 2015.</a></p><li>
                    </ul>
                </div>
            </footer>
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-68140737-1', 'auto');
              ga('send', 'pageview');
            </script>
    </body>
</html>
